html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #111; /* dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Wrapper that handles scaling */
.scale-wrapper {
  width: 1920px;   
  height: 1080px;  
  transform-origin: top left;
}

/* Container Style */
.container {
  width: 100%;
  height: 100%;
  background: #baf2b2;
  border: 10px solid green;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Section Style */
.section {
  flex: 1;
  border: 10px solid blue;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: #cceeff;
}

.box {
  flex: 1;
  background: peachpuff;
  border: 10px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Top row with nested red boxes */
.peach-box {
  flex: 1;
  background: peachpuff;
  border: 10px solid salmon;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.red-group {
  display: flex;
  gap: 2px;
  background: red;
  border: 5px solid red;
  flex: 1;
  justify-content: space-between;
}
.red-group .inner {
  flex: 1;
  border: 5px solid red;
  background: lightpink;
  padding: 10px;
}

.inner p {
  margin: 0;
  font-size: 50px;
  text-align: center;
  color: white;
}

/* Middle Section */
.middle {
  flex: 2;
  display: flex;
  gap: 20px;
}

.middle .left {
  flex: 2;
  background: lightpink;
  border: 10px solid brown;
}

.middle .right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.middle .right div {
  flex: 1;
  background: lightpink;
  border: 10px solid brown;
}

/* Bottom Section */
.bottom {
  flex: 1;
  border: 10px solid blue;
  padding: 30px;
  display: flex;
  gap: 10px;
  background: #cceeff;
}

.bottom .side {
  flex: 1;
  border: 10px solid rgb(107, 107, 207);
  background: lavender;
}

.bottom .center {
  flex: 1;
  display: flex;
  gap: 10px;
}

.bottom .center div {
  flex: 1;
  border: 10px solid salmon;
  background: peachpuff;
}

.bottom .center div p {
  font-size: 50px;
  text-align: center;
  justify-content: center;
  color: white;
}